<!-- File Name: header.ejs Student Name: Daniil Velyki Student ID: 301183618 Date: October 1, 2022 -->
<nav class="navbar navbar-expand-lg fixed-top shadow shadow-offset-down-lg" style="background-color: white">
  <div class="container">
    <a href="/"><img src="./content/images/logo.png" width="200" height="23" class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link <%= (page == 'home') ? 'active' : ''; %>" aria-current="page" href="/home"><i class="fa-solid fa-rocket"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= (page == 'about') ? 'active' : ''; %>" aria-current="page" href="/about"><i class="fa-solid fa-user"></i> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= (page == 'projects') ? 'active' : ''; %>" aria-current="page" href="/projects"><i class="fa-solid fa-briefcase"></i> Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= (page == 'services') ? 'active' : ''; %>" aria-current="page" href="/services"><i class="fa-solid fa-computer"></i> Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= (page == 'contact') ? 'active' : ''; %>" aria-current="page" href="/contact"><i class="fa-regular fa-paper-plane"></i> Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>